# Bot
BOT_TOKEN=

# PostgreSQL
DATABASE__HOST=localhost
DATABASE__PORT=5454
DATABASE__USER=vash_market_admin
DATABASE__PASSWORD=1234567890
DATABASE__NAME=vash_market_db

# Redis
REDIS__HOST=localhost
REDIS__PORT=6340
REDIS__PASSWORD=
REDIS__DB=0

